## Exercício 1: Verifique se um número é positivo, negativo ou zero.

In [ ]:
num = int(input('Digite um número: '))
if num > 0:
  print('Positivo')
elif num < 0:
  print('Negativo')
else:
  print('Zero')

Digite um número: 21
Positivo

Defina um número
Se o número for maior ou igual a 0, traga o resultado: Positivo
Se o número for menor ou igual a 0, traga o resultado: Negativo
Se o número for igual a 0, traga o resultado: Zero

## Exercício 2: Peça dois números e exiba o maior.

In [ ]:
num1 = int(input('Digite o primeiro número: '))
num2 = int(input('Digite o segundo número: '))

if num1 > num2:
  print('O número maior é: ', num1)
elif num1 == num2:
  print('Os números são iguais.')
else :
  print('O número maior é: ', num2)

Digite o primeiro número: 11
Digite o segundo número: 19
O número maior é:  19

Defina dois números diferentes sempre que solicitado, e exiba o maior valor.

## Exercício 3: Verifique se um número é par ou ímpar.

In [ ]:
num1 = int(input('Digite um número: '))

if num1 % 2 == 0:
  print('Par')
else:
  print('Ímpar')

Digite um número: 55
Ímpar

Defina um Número
Se o número terminar com: 0,2,4,6 ou 8, traga o resultado: Par
Se O número terminar com: 1,3,5,7 ou 9, traga o resultado: Impar

## Exercício 4: Verifique se um ano é bissexto.

In [ ]:
ano = int(input('Digite um ano com 4 dígitos: '))

if (ano % 4 == 0 and ano % 100 != 0) or ano % 400 == 0:
  print('É bissexto.')
else:
  print('Não é bissexto.')

Digite um ano com 4 dígitos: 2024
É bissexto.

Defina um valor de um ano e calcule, se for divisivel por 4 e por 100 mas não por 400. Será um ano bissexto.

## Exercício 5: Peça três números e exiba o maior.

In [ ]:
num1 = int(input('Digite o primeiro número: '))
num2 = int(input('Digite o segundo número: '))
num3 = int(input('Digite o terceiro número: '))
print('O maior número é ', max(num1, num2, num3))

Digite o primeiro número: 5
Digite o segundo número: 3
Digite o terceiro número: 6
O maior número é  6

## Exercício 6: Verifique se um usuário pode votar (idade >= 18).

In [ ]:
num = int(input('Digite a idade: '))

if num >= 18:
  print('Pode votar!')
else:
  print('Não pode votar.')

Digite a sua idade: 19
Pode votar!

## Exercício 7: Verifique se já posso ir embora da aula de Análise de Dados sem assinar a folha.

In [ ]:
from datetime import datetime, time

print(datetime.now().time())
if datetime.now().time() >= time(00,45,0):
  print('Pode')
else:
  print('Não pode')

21:10:12.058707
Pode

## Exercício 8: Verifique se uma senha digitada corresponde a '1234'.

In [ ]:
num = (input('Digite uma senha: '))

if num == '1234':
  print('Autorizado')
else:
  print('Autorização negada!')

Digite uma senha: 1234
Autorizado

## Exercício 9: Verifique se um número está entre 10 e 50.

In [ ]:
num = int(input('Digite um valor de 2 dígitos: '))

if num > 10 and num < 50:
  print('Certo')
else:
  print('Errado')

Digite um valor de 2 dígitos: 45
Certo

## Exercício 10: Peça ao usuário um número e exiba 'Alto' se for maior que 100 e 'Baixo' se for menor.

In [ ]:
num = int(input('Digite um valor: '))

if num > 100:
  print('Alto')
else:
  print('Baixo')

Digite um valor: 101
Alto

## Exercício 11: Crie um menu onde o usuário pode escolher entre somar, subtrair, multiplicar e dividir dois números.

In [ ]:
def operacao(op, a, b):
  return{
      '1': a + b,
      '2': a - b,
      '3': a * b,
      '4': a / b if b != 0 else 'Divisão por zero não aceita.'
  }.get(op, 'Operação inválida')

op = input('Escolha: 1-Soma, 2-Sub, 3-Multi, 4-Div: ')
#a,b = map(int, input('Digite dois números: ').split()) separa os valores que serão inseridos para A e B
a = int(input('Digite dois números: '))
b = int(input('Digite dois números: '))
print('Resultado: ', operacao (op, a, b))

Escolha: 1-Soma, 2-Sub, 3-Multi, 4-Div: 2
Digite dois números: 2
Digite dois números: 1
Resultado:  1

## Exercício 12: Crie um menu para converter temperaturas entre Celsius, Fahrenheit e Kelvin.

In [ ]:
def converter(op, t):
  return{
      '1': (t*9/5)+32,
      '2': t+273.15,
      '3': (5/9)*(t-32),
      '4': t*1.8-459.67,
      '5': t+273.15,
      '6': (t-273.15)*1.8+32
  }.get(op, 'Opção inválida')

op = input('Digite a conversão desejada: 1-Cel./Fah., 2-Cel./Kel., 3-Fah./Cel., 4-Fah./Kel., 5-Kel./Cel., 6-Kel./Fah.: ')
t = float(input('Digite a temperatura de acordo com o valor selecionado acima: '))
print('Temperatura convertida: ', converter(op, t))

Digite a conversão desejada: 1-Cel./Fah., 2-Cel./Kel., 3-Fah./Cel., 4-Fah./Kel., 5-Kel./Cel., 6-Kel./Fah.: 1
Digite a temperatura de acordo com o valor selecionado acima: 20
Temperatura convertida:  68.0

## Exercício 13: Crie um programa que traduza números de 1 a 5 para palavras (1 = um, 2 = dois...).

In [ ]:
op = input('Digite um número de 1 a 5: ')
print({
      '1': 'um',
      '2': 'dois',
      '3': 'três',
      '4': 'quatro',
      '5': 'cinco'
  }.get(op, 'Opção inválida'))

Digite um número de 1 a 5: 2
dois

## Exercício 14: Crie um menu onde o usuário pode escolher entre exibir a data, hora ou sair.

In [ ]:
from datetime import datetime, time, date

op = input('1-Data\n2-Hora\n3-Sair\nEscolha uma das opções: ')
print({
    '1': datetime.now().date(),
    '2': datetime.now().time(),
    '3': 'Saindo'
}.get(op, 'Opção inválida'))

1-Data
2-Hora
3-Sair
Escolha uma das opções: 2
23:54:10.913924

## Exercício 15: Implemente um programa que identifica o dia da semana baseado em um número (1 = Segunda, 7 = Domingo).

In [ ]:
op = input('Digite um dia da semana: ')
print({
      '1': 'Segunda',
      '2': 'Terça',
      '3': 'Quarta',
      '4': 'Quinta',
      '5': 'Sexta',
      '6': 'Sábado',
      '7': 'Domingo'
  }.get(op, 'Opção inválida'))

Digite um dia da semana: 5
Sexta

## Exercício 16: Verifique se um número é par ou ímpar usando if ternário.

In [ ]:
num1 = int(input('Digite um número: '))

par_impar = 'par' if num1 % 2 == 0 else 'impar'
print(par_impar)

Digite um número: 25
impar

## Exercício 17: Verifique se um número é positivo ou negativo usando if ternário.

In [ ]:
num = int(input('Digite um número: '))

pos_neg = 'Positivo' if num > 0 else 'Negativo'
print(pos_neg)

Digite um número: 20
Positivo

## Exercício 18: Retorne 'Adulto' se a idade for maior ou igual a 18, senão 'Menor de idade'.

In [ ]:
num = int(input('Informe sua idade: '))

m_idade = 'Adulto' if num >= 18 else 'Menor de idade.'
print(m_idade)

Informe sua idade: 17
Menor de idade.

## Exercício 19: Verifique se um número é maior que 100 e retorne 'Grande' ou 'Pequeno'.

In [ ]:
num = int(input('Informe sua número: '))

d_maior = 'Grande' if num > 100 else 'Pequeno'
print(d_maior)

Informe sua número: 99
Pequeno

## Exercício 20: Retorne 'Aprovado' se a nota for maior ou igual a 7, senão 'Reprovado'.

In [ ]:
num = int(input('Informe sua note: '))

m_nota = 'Aprovado' if num >= 7 else 'Reprovado'
print(m_nota)

Informe sua note: 6
Reprovado

## Exercício 21: Imprima os números de 1 a 10 usando um laço for.

In [ ]:
for x in range(1,11):
  print(x)

1
2
3
4
5
6
7
8
9
10

## Exercício 22: Imprima os números pares de 1 a 20.

In [ ]:
for x in range(0,21, 2):
  if x != 0:
    print(x)

2
4
6
8
10
12
14
16
18
20

## Exercício 23: Calcule a soma dos números de 1 a 100.

In [ ]:
soma = 0
for numero in range(1, 101):
    soma += numero
print(soma)

5050

## Exercício 24: Imprima a tabuada do 5.

In [7]:
Mult = 5
for x in range(1, 11,):
  print(f"{x} x {Mult} = {Mult *x}")

1 x 5 = 5
2 x 5 = 10
3 x 5 = 15
4 x 5 = 20
5 x 5 = 25
6 x 5 = 30
7 x 5 = 35
8 x 5 = 40
9 x 5 = 45
10 x 5 = 50

## Exercício 25: Imprima os 10 primeiros números da sequência de Fibonacci.

In [ ]:
n = int(input('Quantos números da sequência de Fibonacci você quer ver? '))

a, b = 0, 1
for x in range(0,n):
  print(a)
  a, b = b, a +b

Quantos números da sequência de Fibonacci você quer ver? 8
0
1
1
2
3
5
8
13

## Exercício 26: Percorra uma string e imprima cada caractere.

In [ ]:
texto = (input('Escreva uma palavra: '))

for caracter in texto:
  print(caracter)

Escreva uma palavra: Hello World
H
e
l
l
o

W
o
r
l
d

## Exercício 27: Crie um programa que peça um número e imprima sua contagem regressiva até 0.

In [ ]:
v = int(input('Digite um número: '))

for v in range(v,-1,-1):
  print(v)

Digite um número: 10
10
9
8
7
6
5
4
3
2
1
0

## Exercício 28: Crie um programa que solicite 5 números ao usuário e exiba a soma deles.

In [ ]:
a = int(input('Digite um valor: '))
b = int(input('Digite outro valor: '))
c = int(input('Digite outro valor: '))
d = int(input('Digite outro valor: '))
e = int(input('Digite outro valor: '))

ST = a + b + c + d + e
print(ST)

Digite um valor: 15
Digite outro valor: 22
Digite outro valor: 36
Digite outro valor: 47
Digite outro valor: 55
175

## Exercício 29: Imprima todas as vogais de uma string digitada pelo usuário.

In [11]:
palavra = (input("Insira uma palavra: "))
vogais = ['a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U']

print("Vogais da palavra: ")
for letra in palavra:
    if letra in vogais:
        print(letra)

Insira uma palavra: Autógrafo
Vogais da palavra:
A
u
a
o

## Exercício 30: Crie um programa que peça 5 números e exiba apenas os números pares.

In [ ]:
numeros = []

for i in range(5):
    numero = int(input(f"Digite o {i+1}º número: "))
    if numero % 2 == 0:
        numeros.append(numero)

print("Números pares digitados:", numeros)

Digite o 1º número: 267
Digite o 2º número: 458
Digite o 3º número: 139
Digite o 4º número: 734
Digite o 5º número: 968
Números pares digitados: [458, 734, 968]

## Exercício 31: Percorra uma lista de frutas e imprima cada uma.

In [ ]:
frutas = ['maça', 'banana', 'laranja', 'uva', 'morango']

for fruta in frutas:
    print(fruta)

maça
banana
laranja
uva
morango

## Exercício 32: Some todos os números de uma lista.

In [ ]:
numeros = [19, 21, 37, 45, 59]
soma = 0

for numero in numeros:
    soma += numero

print("A soma dos números é:", soma)

A soma dos números é: 181

## Exercício 33: Multiplique cada número de uma lista por 2 e imprima o resultado.

In [ ]:
numeros = [1, 2, 3, 4, 5]
resultado = []

for numero in numeros:
    resultado.append(numero * 2)

print("Resultado:", resultado)

Resultado: [2, 4, 6, 8, 10]

## Exercício 34: Conte quantas palavras existem em uma lista de palavras.

In [ ]:
palavra = ['arroz', 'feijão', 'ovo', 'frango', 'macarrão']
resultado = len(palavra)

print("Resultado:", resultado)

Resultado: 5

## Exercício 35: Imprima cada letra de uma palavra separadamente.

In [ ]:
texto = (input('Escreva uma palavra: '))

for caracter in texto:
  print(caracter)

Escreva uma palavra: Paralelepipedo
P
a
r
a
l
e
l
e
p
i
p
e
d
o

## Exercício 36: Crie uma lista com 5 números e imprima o maior.

In [ ]:
numeros = [10, 20, 30, 40, 50]
maior = numeros[0]

for numero in numeros:
    if numero > maior:
        maior = numero

print("O maior número é:", maior)

O maior número é: 50

## Exercício 37: Crie uma lista e inverta a ordem dos elementos.

In [ ]:
numeros = [1, 2, 3, 4, 5]
numeros.reverse()

print("Lista invertida:", numeros)

Lista invertida: [5, 4, 3, 2, 1]

## Exercício 38: Crie uma lista com 5 nomes e remova o último nome.

In [ ]:
nomes = ['Alice', 'Bob', 'Charlie', 'David', 'Eve']
nomes.pop()

print("Lista atualizada:", nomes)

Lista atualizada: ['Alice', 'Bob', 'Charlie', 'David']

## Exercício 39: Ordene uma lista de números.

In [ ]:
numeros = [5, 2, 8, 1, 9]
numeros.sort()

print("Lista ordenada:", numeros)

Lista ordenada: [1, 2, 5, 8, 9]

## Exercício 40: Crie uma lista com 5 números e exiba apenas os pares.

In [ ]:
numeros = [1, 2, 3, 4, 5]
resultado = []

for numero in numeros:
    if numero % 2 == 0:
        resultado.append(numero)

print("Números pares:", resultado)

#  O método .append() é utilizado em listas em Python para adicionar um novo item ao final da lista.
#Ele é uma maneira simples e eficiente de inserir elementos no final de uma lista existente.

Números pares: [2, 4]

## Exercício 41: Crie uma lista e adicione um novo elemento no final.

In [ ]:
palavras = ["arroz", "feijão", "ovo", "macarrão", "carne"]
e = input('Informe um alimento: ')

palavras.append(e)
print(palavras)

Informe um alimento: couve
['arroz', 'feijão', 'ovo', 'macarrão', 'carne', 'couve']

## Exercício 42: Verifique se um número existe dentro de uma lista.

In [ ]:
numero = [2, 4, 6, 8, 10, 11, 13, 15, 17, 19]
i = int(input('Digite um número: '))

if i in numero:
  print('Existe')
else:
  print('Não existe')

Digite um número: 9
Não existe

## Exercício 43: Crie uma lista de números e calcule a média.

In [ ]:
numeros = [11, 23, 35, 47, 59]
soma = sum(numeros)
media = soma / len(numeros)

print("A média dos números é:", media)

A média dos números é: 35.0

## Exercício 44: Crie uma lista de nomes e converta todos para maiúsculas.

In [ ]:
nomes = ['wesley', 'isabel', 'anderson', 'débora']
maiusculo = [palavra.upper() for palavra in nomes]
print(maiusculo)

# Essa linha de código está utilizando uma compreensão de lista
#(list comprehension) para converter todas as palavras em uma lista nomes
#para maiúsculas e armazená-las na lista maiúsculo

['WESLEY', 'ISABEL', 'ANDERSON', 'DÉBORA']

## Exercício 45: Crie uma lista de números e remova os duplicados.

In [ ]:
num = [1, 9, 2, 3, 4, 5, 3, 6, 7, 8, 10, 9, 10]
dupli = list(set(num))

print(dupli)

# set(num)
# Transforma a lista num em um conjunto (set).
# Um conjunto não permite elementos duplicados.

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## Exercício 46: Crie um dicionário com nomes de alunos e suas notas e exiba a nota de um aluno específico.

In [ ]:
alunos = {"Wesley": 9.5, "Isabel": 8.0, "Anderson": 7.2}

nota = alunos["Wesley"]
print(f"A nota do Wesley é: {nota}")

A nota do Wesley é: 9.5

## Exercício 47: Adicione um novo aluno e sua nota a um dicionário.

In [5]:
dicionario = {"Wesley": 9.5, "Isabel": 8.0, "Anderson": 7.2}

entrada = input('Informe um novo aluno e sua nota (Ex: Lucas: 7.5): ').capitalize()

nome, nota = entrada.split(":")
nome = nome.strip()
nota = float(nota.strip())

dicionario[nome] = nota
print(dicionario)

#Divide a entrada em duas partes:
# A função split(":") separa a string onde encontrar dois pontos:
# "Lucas" → vai para a variável nome
# " 7.5" → vai para a variável nota

#Remove espaços em branco extras do nome:
# nome = nome.strip()
# Se o usuário digitar com espaços extras, como " Lucas ", o .strip() remove os espaços antes e depois:
# " Lucas " → "Lucas"

# Remove espaços da nota e converte para número:
# nota = float(nota.strip())
# Primeiro, nota.strip() transforma " 7.5" em "7.5".
# Depois, float("7.5") transforma a string em número de ponto flutuante: 7.5.

Informe um novo aluno e sua nota (Ex: Lucas: 7.5): fabio: 6.1
{'Wesley': 9.5, 'Isabel': 8.0, 'Anderson': 7.2, 'Fabio': 6.1}

## Exercício 48: Remova um aluno do dicionário.

In [ ]:
dicionario = {"Wesley": 9.5, "Isabel": 8.0, "Anderson": 7.2}

for nome, nota in dicionario.items():
    print(f"{nome} → {nota}")

aluno = input("Digite o nome do aluno que deseja remover: ").capitalize()
dicionario.pop(aluno, None)

print(dicionario)

Wesley → 9.5
Isabel → 8.0
Anderson → 7.2
Digite o nome do aluno que deseja remover: Anderson
{'Wesley': 9.5, 'Isabel': 8.0}

## Exercício 49: Percorra um dicionário e imprima suas chaves e valores.

In [ ]:
dicionario = {"Wesley": 9.5, "Isabel": 8.0, "Anderson": 7.2}

for nome, nota in dicionario.items():
    print(f"{nome} → {nota}")

# for nome, nota in dicionario.items():
# dicionario.items() retorna todos os pares chave-valor do dicionário.

Wesley → 9.5
Isabel → 8.0
Anderson → 7.2

## Exercício 50: Verifique se uma chave existe no dicionário.

In [4]:
dicionario = {"Wesley": 9.5, "Isabel": 8.0, "Anderson": 7.2}

aluno = input("Digite o nome do aluno que deseja verificar: ").capitalize()

if aluno in dicionario:
    print(f"O aluno {aluno} está no dicionário com nota {dicionario[aluno]}.")
else:
    print(f"O aluno {aluno} não foi encontrado.")

Digite o nome do aluno que deseja verificar: wesley
O aluno Wesley está no dicionário com nota 9.5.